.jOrgChart .node {
	font-size 			: 14px;
	background-color 	: #ccc;
	border-radius 		: 8px;
	border 				: 5px solid black;
	color 				: #000;
	-moz-border-radius 	: 8px;
	height: auto;
	position: relative;
}

.jOrgChart .node.inactive {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.jOrgChart .node p {
	font-family 	: tahoma;
	font-size 		: 10px;
	line-height 	: 11px;
	padding 		: 2px;
}

.jOrgChart .node .description {
	min-height: 60px;
	padding-bottom: 18px;
}
.jOrgChart .node .actions {
	position: absolute;
	bottom: 0px;
}

.jOrgChart table {
	border-collapse: separate;
	border: 0px;
}

.jOrgChart table {
	background: #e1eef9 !important;
}


.jOrgChart table tr {
	background: #e1eef9 !important;
}

.jOrgChart .left {
	float: none !important;
}

.jOrgChart .right {
	float: none !important;
}

.orgChart .actions {
	margin-top: 5px;
	border-top: 1px dotted #666;
	width: 100%;
}

.admin-action {
	cursor: pointer;
}

.quicklook {
	width: auto;
}

ul.queue-list {
	list-style: none;
}

ul.queue-list li {
	margin: 3px;
	padding: 2px;
	background: #ccc;
	border-radius: 3px;
}

ul.queue-list li:hover {
	background: #e1eef9;
	cursor: pointer;
}